* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /*background: #a08b5c;*/
  background: #fedfc0;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: #f5f0e6;
  margin: 0; /* This removes black border */
}

body.blog {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: flex-start; /* aligns to the top */
  min-height: 100vh;
  padding-top: 60px; /* pushes hero section slightly down */
  margin: 0;
}



/* HEADER */
.nav {
  background: #d95137;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
}

.nav a {
  /*background: #a08b5c;*/
  color: #f5f0e6;
  font-size: 20px;
  padding: 10px;
  font-weight: 550;
  text-decoration: none;
}

.right-side a {
  text-decoration: none;
  color: #f5f0e6;
  margin: 0 0.5rem;
}
.right-side label {
  font-size: 25px;
}

a:hover{
  text-decoration: underline;
}
 

/* HERO */
.hero {
  background: #d95137;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0 1px 15px rgba(0,0,0,0.1);

}

.hero a {
  text-decoration: none;
  font-family: 'Assistant', Sans-Serif;
  font-weight: 700;
  color: #fedfc0;
}
.hero a:hover {
  text-decoration: underline;
}

/* BLOG */

.blog {

  background: #fedfc0;
  flex-direction: column;
  text-align: center;
  align-items: left;
  flex-wrap: wrap;
  justify-content: start;
  padding: 100px;
}



.inner-blog {
  background: #d95137;
  justify-content: start;
  max-width: 800px;          /* nice readable width */
  margin: 0 auto;            /* centers the whole box horizontally */
  text-align: left;          /* keeps the text aligned to the left */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.inner-blog h1 {

  text-align: center;          /* keeps the text aligned to the left */
  font-size: 45;
  margin-bottom: 10px;
}
.inner-blog label {
  display: block;
  text-align: center;
  font-size: 25;
  font-weight: 100;
  padding: 5%;
}
.inner-blog h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.inner-blog h6 {
  font-size: 10;
  text-align: left;
  margin-bottom: 20px;
  margin-top: -15px;
  font-weight: 400;
  text-decoration: italic;
}
.inner-blog p {
  font-size: 20;
  margin-bottom: 20px;
  font-style: italic;
}


/*BLOG IMAGES */
.inner-blog img {
  width: 50%;
  height: auto;
}

.inner-blog img:hover {
  width: 100%;
}


/* BLOG LIST  */ 

.blog-list {
  background: #d95137;
  max-width: 61%;
  text-align: center;
  padding: 40px,100px,20px,100px;
  padding: 2%;
  font-size: 20;
  margin-left: 20%;
  margin-top: 2%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.blog-list li {
  list-style: none;
  justify-content: center;
}

.blog-list h1 {
  font-size: 45;
  text-align: left;
}

.blog-list h2 {
  font-size: 25;
  text-align: left;
  font-weight: 20;
  margin-bottom: 2%;
}


.blog-list a {
  font-size: 20;
  text-decoration: none;
  font-weight: 900;
  color: #f5f0e6;
}
.blog-list a:hover {
  text-decoration: underline;
}

.blog-list label {
  font-weight: 200;
  font-size: 15;
}
.blog-list hr {
  color: #f5f0e6;
  margin: 1%;
}



/* FOOTER */
.footer {
  background: #fedfc0;
  display: flex;
  margin-top: auto;
  justify-content: center;
  font-size: 10;
}
.footer h4 {
  color: #d95137;
}


